/*
 * Styles for League Player edit.
 *
 */
#league-player-update-form .form-item-lastname {
  width: 18em;
  float: left;
}
#league-player-update-form .form-item-firstname {
  width: 18em;
  float: left;
}
#league-player-update-form .form-item-club {
  width: 18em;
  float: left;
}
#league-player-update-form .form-item-dob {
  width: 18em;
  float: left;
}
#league-player-update-form #sex-select {
  width: 18em;
  float: left;
}
#league-player-update-form #user-text {
  width: 20em;
  float: left;
}
#league-player-update-form #player-lookup-user {
  width: 20em;
  float: left;
}

/*
 * Styles for League Player view.
 *
 */
#player-picture {
  float: right;
}

