/*
 * Styles for knockout table.
 *
 */

.ktable {
  width: auto;
  border: 1px solid;
}

.league-club {
  width: 15em;
  float: left;
}

#league-team-form {
  float: left;
}

#home-teams {
  margin-left: 5px;
  margin-top: 10px;
  width: 20em;
  float: left;
  border: 1px solid;
}

#league-club-admin-form .form-item-id {
  display: inline;
}

#league-club-admin-form .club-selector {
  display: inline;
  width: 20em;
}

#league-club-admin-form .club-status {
  display: inline;
}

#league-club-admin-form .form-item-searchname {
  display: inline;
}

#home-clubs {
  margin-left: 5px;
  margin-top: 10px;
  width: 20em;
  float: left;
  clear: none;
  border: 1px solid;
}

#home-clubform {
  width: 25em;
  float: left;
  border: 1px solid;
}

#league-event-admin-form {
  width: 25em;
  float: left;
}

#home-events {
  margin-left: 5px;
  margin-top: 10px;
  width: 20em;
  float: left;
  border: 1px solid;
}

.league-links {
  float: right;
}

#block-league-club-table {
  width: 23em;
  float: left;
}
#block-league-latest {
}
#block-league-league-status {
  width: 15em;
}
#block-league-event-table {
  width: 15em;
  float: left;
}
/*
 * Fixtures filter form.
 */
#league-fixtures-form .form-item-object {
  float: left;
}
#league-fixtures-form .form-item-item {
  float: left;
}
#league-fixtures-form .form-item-filter {
  float: left;
}
#league-fixtures-form .form-item-show {
  float: left;
}
#league-fixtures-form .form-item-object label {
  display: inline;
}
#league-fixtures-form .form-item-filter label {
  display: inline;
}
#league-fixtures-form .form-item-show label {
  display: inline;
}

#league-fixtures-form #matchcards {
  clear: both;
}
#league-fixtures-form #fixture-admin {
  float: right;
}
#league-fixtures-form .form-item-action {
  float: right;
}
#block-league-league-club {
  width: 30em;
  float: right;
}
/* Fixture edit form */
#fixture-node-form #edit-group-result {display: none; }
#fixture-node-form #edit-field-locked {display: none; }
#fixture-node-form #edit-field-verifier {display: none; }
#fixture-node-form #edit-field-reporter {display: none; }
#fixture-node-form #edit-field-event {display: none; }
#fixture-node-form #edit-field-home-penalty {display: none; }
#fixture-node-form #edit-field-away-penalty {display: none; }
#fixture-node-form #edit-field-winning-team {display: none; }
#fixture-node-form #edit-field-home-adjustment {display: none; }
#fixture-node-form #edit-field-away-adjustment {display: none; }
/* Club edit form */
#club-node-form #edit-field-org {display: none; }

/* Club home */
.ctabled {
  width: 40em;
  border: 1px solid;
}
.ctableh {
  width: 20em;
  border: 1px solid;
}
.ctabler {
  width: auto;
  border: 1px solid;
}
.ctablet {
  width: auto;
}

/* Season Tab */
#league-season-form .form-item-season {
  width: 15em;
  float: left;
  clear:both;
}
#league-season-form .form-item-new-season {
  float: left;
  clear:both;
}
#league-season-form #buttons {
  float: left;
  clear:both;
}
#season-text {
  float: left;
}
#home-season-list {
  float: right;
}

/* League settings form */
#league-event-settings-form .form-item-season {
  width: 20em;
  float: left;
  height: 4em;
}
#league-event-settings-form .form-item-name {
  width: 20em;
  float: left;
  height: 4em;
}
#league-event-settings-form .form-item-type {
  width: 20em;
  float: left;
  height: 4em;
}
#league-event-settings-form .form-item-boards {
  width: 20em;
  float: left;
  height: 4em;
}
#league-event-settings-form .form-item-order {
  width: 20em;
  float: left;
  height: 4em;
}
#league-event-settings-form .form-item-twomatch {
  width: 25em;
  float: left;
}
#league-event-settings-form .form-item-handicap {
  width: 18em;
  float: left;
  clear:both;
}
#league-event-settings-form .form-item-ntimes {
  width: 20em;
  float: left;
}
#league-event-settings-form .form-item-display {
  float: left;
  clear:both;
}
