<h2>Administering Leagues</h2>
<h3>What needs to be done to setup at the start</h3>
Start of season tasks:
<ul>
<li>Adjust player lists if desired.
</ul>
<li>Add missing players to the player lists
<p>Player list help
<p>The links available on an club node are described below:
<dt>Player list</dt>
<dd>The player list for this club, used to populate the drop down for who can be selected for a match.</dd>
