/*
 * Styles for League Player edit.
 *
 */
.form-item-chess-rating {
  width: 18em;
  float: left;
  height: 60px;
}
.form-item-chess-rapid {
  width: 18em;
  float: left;
  height: 60px;
}
.form-item-chess-fidecode {
  width: 18em;
  float: left;
  height: 60px;
}
.form-item-chess-lichess {
  width: 18em;
  float: left;
  height: 60px;
}
.form-item-chess-comchess {
  width: 18em;
  float: left;
  height: 60px;
}
.form-item-chess-federation {
  width: 18em;
  float: left;
  height: 60px;
}
.league-plink {
  float: right;
}
/*
 * Matchcard. - Winning team
 *
 */
.form-item-winner {
  display: inline;
}
.form-item-winner label {
  display: inline;
}
.form-item-locked {
  display: inline;
}
.form-item-home-penalty0, .form-item-home-penalty0 label  {
  display: inline;
}
.form-item-away-penalty0, .form-item-away-penalty0 label  {
  display: inline;
}
.form-item-home-adjustment0  {
  display: inline;
}
.form-item-away-adjustment1  {
  display: inline;
}
#edit-home-adjustment0, #edit-away-adjustment0 {
  width: 3em;
  float: left;
}
#edit-home-adjustment1, #edit-away-adjustment1 {
  width: 3em;
  float: left;
}
.form-item-home-penalty1, .form-item-home-penalty1 label  {
  display: inline;
}
.form-item-home-adjustment1  {
  display: inline;
}
.form-item-away-adjustment1  {
  display: inline;
}
.form-item-after  {
  display: inline;
}
.league-frame .user-picture img {
  float: right; /* LTR */
  height: 20px;
  margin: 1px 5px 0 0; /* LTR */
  display: inline;
}
.league-frame a {
  display: inline;
}
/*
 * Matchcard. - membership status
 *
 */
.membership-none {
  display: inline;
  color: transparent;
}
.membership-gold {
  display: inline;
  background-color: #FFDF00;
}
.membership-bronze {
  display: inline;
  background-color: #F4A460;
}
.membership-silver {
  display: inline;
  background-color: #C0C0C0;
}
.membership-platinum {
  display: inline;
  background-color: #D3D3D3;
}
.membership-supporter {
  display: inline;
  background-color: #99FA99;
}
.membership-life {
  display: inline;
  background-color: #99ffff;
}
.membership-none {
  display: inline;
  background-color: #ffffff;
}
#league-event-settings-form .form-item-limit {
  width: 20em;
  float: left;
  height: 3em;
}
#league-event-settings-form .form-item-default {
  width: 20em;
  float: left;
  height: 3em;
}
#league-event-settings-form .form-item-list {
  width: 20em;
  float: left;
  height: 3em;
}
#league-event-settings-form .form-item-boards {
  width: 20em;
  float: left;
  height: 4em;
}
#league-event-settings-form .form-item-below {
  width: 20em;
  float: left;
}
#league-event-settings-form .form-item-platform {
  width: 20em;
  float: left;
}
/*
 * FIDE Rating.
 *
 */
.form-item-arbiter {
  width: 30em;
  float: left;
}
.form-item-city {
  width: 30em;
  float: left;
}
