There are two methods of showing data in a users own web site:
<ul>
<li>An API to return the raw data.
<li>Special pages without the headers an menus that can be embedded eg with an IFrame.
</ul>

<h2>API</h2>
There is an experimental API to allow return of the data into a users own
web site. It is a REST Service and in theory will accept requests in these formats:
<ul>
<li>application/json
<li>application/x-www-form-urlencoded
<li>application/xml
<li>multipart/form-data
<li>text/xml
</ul>
and will return data in the following formats:
<ul>
<li>bencode
<li>json
<li>jsonp
<li>php
<li>xml
</ul>
which is what the settings in the Drupal Services modules say.
I have created the following example codes to call it:
<ul>
<li>PHP returning json <a href="../../sites/all/modules/custom/league/help/lmstest.php.txt">using CURL to do the request</a>
<li>PHP returning json <a href="../../sites/all/modules/custom/league/help/lmsjson.php.txt">using Pear HTTP_Request2 to do the request</a>
<li>javascript returning json <a href="../../sites/all/modules/custom/league/help/lmsjs.html">using JQuery to do the request</a>
</ul>
Feel free to copy these and amend as necessary. The requests are sent
to https://ecflms.org.uk/lms/lmsrest/league with the appropriate type of 
request added as per the table below. For example for a table request, the URL
would be: https://ecflms.org.uk/lms/lmsrest/league/table.json Each request
expects 2 parameters
<ul>
<li>org - the numeric organisation id which can be found by looking at the url for the home page, for example for the test league with url https://ecflms.org.uk/lms/node/10/home, the id is 10.
<li>name - as described in the table below
</ul>
<table border>
<tr><th>Request</th><th>Description</th><th>name</th></tr>
<tr>
<td>table.json</td>
<td>returns league table for a league event, a knockout table for a knockout
event, or the standings for an individual event.</td>
<td>name of the event. Looks for events with this exact name in active seasons</td>
</tr>
<tr>
<td>match.json</td>
<td>returns the match cards for a team event or the round results for an 
individual event.</td>
<td>name of the event. Looks for events with this exact name in active seasons</td>
</tr>
<tr>
<td>event.json</td>
<td>returns the fixtures for a league event, a knockout table for a knockout
event, or the rounds and dates for an individual event.</td>
<td>name of the event. Looks for events with this exact name in active seasons</td>
</tr>
<tr>
<td>club.json</td>
<td>returns the fixtures for a club.</td>
<td>Club code of the club</td>
</tr>
</table>
<h2>Plain Pages</h2>
The plain pages are just ordinary web pages that don't show all the headers and menus. The URLs follow a similar patern to the above. Here are a couple of 
examples.
<ul>
<li>League table for division 1 in organisation nn. Note replace blanks by +. https://ecflms.org.uk/lms/league/plain/table/nn/Division+1
<li>Fixtures for club with ECF club code CCCC in organisation nn. https://ecflms.org.uk/lms/league/plain/club/nn/CCCC
</ul>
