Picking on a club from the list of clubs on the home page of an organisation, and then 
on <b>Club</B> and then <b>Settings</b> allows certain information about a club
to be changed.
<dl>
<dt>Contact / Secretary</dt>
<dd>
Select which user is the club contact or secretary. This doesn't give them access to do anything in the LMS, but they appear in the club secretaries list under the mail option.
</dd>
<dt>Venue Match Limit</dt>
<dd>
This is used if generating dates for fixtures to restrict the number of home
matches on the same day.
</dd>
<dt>Match Time</dt>
<dd>
The default time home matches start at this club. It can be overriden for a specific fixture.
</dd>
<dt>Google Map</dt>
<dd>
If you supply Google Map details in this field then it can embed a google map
to your clubs venue.
<img src="../../sites/all/modules/custom/league/help/lmsgmap.png">
</dd>
<dt>Details</dt>
<dd>
Text about the club such as the venue. Can include a limited list of HTML
tags.
</dd>
</dl>
