The <b>Edit Fixtures</b> tab reached by selecting an event from the fixtures
list on the left hand side is for modifying or adding fixtures to an event.
<p>
The <b>Add Fixture</b> option is for adding one fixture to an event. It 
would normally only be used for a knockout event, the league fixtures
having been generated using the <b>Generate Fixtures</b> option under the
<b>admin/fixtures</b> tab.
<p>
The edit fixtures table has the following columns:
<ul>
<li>Edit - edit the fixture details, e.g. teams.
<li>Home and Away teams - just link to the team.
<li>Swap Teams - swaps the home and away teams on the fixture.
<li>Date - puts up a date popup to change the date.
<li>Delete - deletes the fixture
<li>Time - links to the edit to change fixture time.
<li>Lock - locks the fixture so it can't be changed by the clubs.
</ul>
