There are several options displaying lists of fixtures within the system:
<h2>Main fixtures tab</h2>
The fixtures tab at the bottom of the red header shows fixtures for all the 
organisation. It can be filtered by club, team, event or the status of the match. It can either show just the fixture or the complete match card.
With the <b>Action</b> button the organisation owner can do the following on
all the fixtures shown:
<ul>
<li>Lock them - so only the organisation owner can change them.
<li>Unlock them - so any club owner can change them
<li>Mark them as verified.
</ul>
Anyone can do the following:
<ul>
<li>Get a fixture list in PDF format.
<li>Get a fixture list in Excel format.
<li>Get all the dates formated to load to a calendar via ICAL eg google.
</ul>
When displaying the list of fixtures:
<ul>
<li>The team name links to the team page.
<li>The match result links to the match card.
<li>Clicking on the date allows league admins to change the fixture date.
</ul>
The status column shows if the fixture is O = Open so it can be changed or L = Locked so only the organisation owner can change it. It also shows if the fixture is V = verified, or U = Unverified.
<p>
The matches can be filtered on the following:
<ul>
<li>All - shows all fixtures.
<li>Late - shows fixtures where no result entered yet and the date has passed.
<li>Incomplete - shows fixtures where not all the results have been entered, or there is an adjourment or adjudication.
<li>Complete - shows fixtures that have results and where none of the results is an adjourment or adjudication.
<li>Un-verified - fixtures where an opposing captain has not verified.
<li>Locked - fixtures locked by the admin so they can't be changed.
<li>Un-locked - fixtures that have not been locked.
<li>Recent - Matches which are unlocked have a non-zero score and a date in the past.
<li>No date - shows fixtures with no date set
</ul>
<h2>Fixtures tab on Team</h2>
Reached from the team page.
 It is possible to extract this into excel or PDF for printing using the options on the top right hand side.
<h2>Fixtures tab on Club</h2>
Reached from the club page.
 It is possible to extract this into excel or PDF for printing using the options on the top right hand side.
<h2>Fixtures tab on Event</h2>
Reached from the fixtures list on the left hand side.
 It is possible to extract this into excel or PDF for printing using the options on the top right hand side.
<h2>Fixture Time</h2>
The fixture time defaults to the club time. If you want to change this then
you can specify an individual fixture time by clicking on the time. 
If any time later than 2:00am is specified it will override the club time.
