The organisations home page shows:
<ul>
<li>Status information for the organisation owner showing information such as late matches and containing links to appropriate reports.
<li>A list of links to the clubs in the organisation.
<li>A list of events in active seasons.
<li>The most recent results and links to the match cards.
</ul>
It is also possible to add any text you like to this page describing the organisation. This is done via the Admin/Display tab.
