The help in this system can be reached either via the 
<a href="../../admin/help/ah/league/?popup=1">Help Index</a> or 
directly by links from the Help block on the left hand side which
change according to what is shown in the main view (i.e. context 
sensitive help).
<p>
Note that in order to change anything,
such as inputting a match result you must be logged
in. If you are logged in, it will say so logged in as xxxx on the left hand side, and there will be a Logout option. If you are not logged in
there will be a Login option below the top left hand logo.
<p>
The help is organised into information for different people:
<ul>
<li><a href="clubowner?popup=1">Club owners and team captains</a>. Those users who are listed under a club are
able to input match results for teams in that club, and are able to update
the club information.
<li><a href="eventowner?popup=1">Event Owners</a> can do everything within one event such as add fixtures and update matches.
<li><a href="orgowner?popup=1">Organisation Owners</a> can do everything within one organisation such as add clubs, create events and teams.
<li><a href="lmsadmin?popup=1">The LMS adminstrator</a> can add new users, create new organisations, and load up grading and membership data.
</ul>
General help:
