<h2>Who needs a login</h2>
You need a login ID to enter match results, to enter comments on matches or to upload a picture. As well as having a login ID you need an organisation owner to add you as a user of that organisation.
<h2>If you didn't get the welcome email for new login id</h2>
Usually this is because the email got put into a SPAM/Junk mail folder.
Some email providers have a web based junk email folder so check there also.
If you want to get the email again see below.
<h2>I forgot my password or login ID</h2>
Go to <b>My Account</b> then <b>Request New Password</b>. Enter your email address and it should reset your password and send you another email with login 
instructions. NOTE: you can do this on somebody elses behalf if you logoff
yourself first.
<h2>Constantly getting logged off</h2>
Make sure that your browser security settings allows cookies.
<h2>Access denied</h2>
Check:
<ul>
<li>Using the https:// url, not the http:// one.
<li>If setting a password for the first time, don't accept the terms and
conditions until it prompts you again after the password is saved.
</ul>
