There are 3 mass email options available to organisation owners:
<ul>
<li>Email Organisation Users
<li>Mail Club Secretaries
<li>Mail Team Captains
</ul>
The <b>Email Organisation Users</b> option is reached from the Mail tab on the
top line available to organisation owners. There is a link to the
<b>Mail Club Secretaries</b> and <b>Mail Team Captains</b> from here.
Both options give a list of users to email and work in a similar way.
<h2>Mail Organisation Users</h2>
This will list all users who are listed as users of the organisation
under <b>Admin/Settings</b>
<h2>Mail Club Secretaries</h2>
This will list all users who are marked as a club secretary in the club
settings.
<h2>Mail Club Secretaries</h2>
This will list all users who are team captains for teams in events in active seasons.
<h2>Usage</h2>
Check the box on the top line to mail all users listed or check the box
against an individual user. Press the <b>Send Email</b> button.
<p>
Type in a subject. Type in a message. Press <b>Next</b>
<p>
If everything looks OK, press <b>Send</b>
