First a note about confusing terminology:
<ul>
<li>The person assigned as the team captain is just so their contact details
are available from the Team Captains tab.
<li>The people who can update match results are listed under the club as <b>owners</b>
</ul>
To have someone set up to enter match results, you must:
<ul>
<li>Get them a user id - contact an LMS administrator to do this
<li>Assign them as a user of the organisation
<li>Assign them as a club owner.
</ul>
To assign them as a user of the organsation, go to the <b>Users</b> tab. The selection box shows the users of the organisation on the right and the available users on the left. Type a few characters of the name or userid of the person you want to add to find them in the list. Then select them and use the arrow
keys to move them from the left side to the right. Then scroll down to the bottom and press the <b>Save</b> button.
<p>
To assign them as a club owner, go to the <b>Admin</b> tab, pick the <b>Clubs</b> tab, pick the club, and then pick <b>Club</b>, <b>Settings</b> and <b>Owners</b>
If necessary, type a few characters to find the users name in the left hand
list. Select them and then use arrow keys to move them across to the 
right hand list. Scroll down and press the <b>Save</b> button.
<p>
To have someone listed as a team captain:
<ul>
<li>Get them a login id ( Ask LMS admin via the LMS Contact link at the top)
<li>Select them as a user of the organisation (Admin/ Owners)
<li>Pick on Team, Edit tab, select them as captain
</ul>
