<h2>Adding a New organisation</h2>
The steps for adding a new organisation are:
<ul>
<li>Create users id(s) for the organisation owner.
<li>Create organisation
<li>Add owners
</ul>
<h2>Add users</h2>
Select <b>Add User</b> from the LMS Administrator menu.
Enter a username (convention is first letter of first name followed by 
surname).
Enter the new users email address.
Check the box to inform user of new id (this will cause them to be sent an
email telling them how to login).
Enter the users name. Click <b>Create new account</b>.
<h2>Create Organisation</h2>
Pick <b>Add Organisation</b> from the Administrator menu.
Fill in the name, e.g. Birmingham League, scroll down and press Save.
The organisation owner can change other settings as they wish later.
<h2>Add users to organisation</h2>
Click Users (under Admin/Organisation) and select which users you would like to be owners. Use the arrow button to move users across, add press Save - these are now users of the organisation.
<h2>Add owners</h2>
To updgrade them to Owners, select Owners (under Admin/Organisation) and move them across from the left to the right and press Save.
The <b>Contact Organisation Owner</b> link (under help) will lead to a list of links to the personal contact forms of these users.
