Events are grouped into seasons. Seasons can be modified using the 
Admin/Season tab.
<h2>Creating a new season</h2>
A new empty season can be created using the <b>Add Season</b> link.
<p>
A previous season can be copied which saves time.
Select the existing season, for example 2017 and press <b>Copy</b>. For each event with 2017 as its season a new event will be created with the same settings but with the season set to 2018. Season 2018 will be set active and 2017 old.
<p>
You can then use the <b>Team Order</b> button. (see below)
<h2>Modifying a Season</h2>
Select season from the list. The settings are:
<ul>
<li>Season Name - The name given to this season which is displayed on the left.
<li>Season Order - determines the order the seasons on the left are listed.
<li>Season Status:
<ul>
<li><b>New</b> - Events in the season don't appear on the left hand side. This is so
the adminsitrator can created seasons and set things up without making them
public.
<li><b>Active</b> - A normal season
<li><b>Old</b> - This season only appears in the Previous seasons option
</ul>
</ul>
The buttons are:
<ul>
<li><b>Save</b>
Saves the modified settings
<li><b>Copy</b>
The purpose of this button is to clone the previous season to create a new
season. This will copy all events and teams from the previous season to
the new season.
<li><b>Delete</b>
This button can delete all the events for a season if <b>Copy</b> 
was done in error. Events can't be deleted once they have match results.
<li><b>Team Order</b> This button displayes a new screen which allows teams to be moved between events by dragging and dropping. The idea is it would be done after creating a new season for promotion and relegation of teams.
</ul>
