<h2>I don't know what to do, where do I start?</h2>
If you are an ordinary user (ie not a team captain or organiser), then you don't need a login id. You can just start with the link for your organisation from the home page, and find fixtures, match results and league tables. If you are a team captain or organiser then
you need a login id. 
<h2>I forgot my password or login ID</h2>
Go to <b>My Account</b> then <b>Request New Password</b>. Enter your email address and it should reset your password and send you another email with login
instructions.
<h2>Access</h2>
Click on the <b>My Account page</b> link in the left hand side.
<p>
The clubs you have access to update match results for as a team captain are 
listed on the right (when you are on the My Account page).
If your club is not list, contact an organisation to which the club belongs.
<p>
The organisations you are a member of are listed on the left. If an 
organisation is not there contact the owner and ask them to add you.
Go to the organisation home page and use the contact organisation owner link
beneath the help on the left hand side.
<h2>Once logged in</h2>
<ul>
<li>Start <a href="orgsetup?popup=1">here</a> if you are setting up a new organisation or league for the first time.
<li>Start <a href="matchcard?popup=1">here</a> if you are a team captain wanting to enter a match result.
</ul>
<h2>Contact</h2>
For organisation specific issues, contact the organisation owner by going to
the organisation home page and using the link under help on the left hand side.
