The diagram below illustrates the relationship between the various items in
the LMS.
<img src="../../sites/all/modules/custom/league/help/lms.png"></img>
<dl>
<dt>Organisation</dt>
<dd>An Organisation groups together a number of competitions (events) run in different seasons. It is usually a League, such as Somerset League. But it could be club running a club championship.</dd>
<dt>Event</dt>
<dd>An Event is one particular competition, for example League Division 1, Knockout cup, Invididual Championship. An organisation can contain a number of different events in different seasons. Only events in active seasons are listed on the organisation home page. Events for previous seasons can be accessed via the option on the top menu bar.</dd>
<dt>Club</dt>
<dd>A club is a chess club known. In the LMS teams belong to clubs and it is the clubs that provide the teams player list (in the match card drop down) and the people who are entitled to enter match results. You must setup clubs to have team events. The club will be used to initially populate the player list from the grading system. In the case of the county championship, a club could be a County</dd>
<dt>Team</dt> 
<dd>A club can have one or more teams. A team belongs to one event only.</dd>
<dt>Fixture</dt>
<dd>A fixture belongs to an event. It could be a match between 2 teams of a league or a round of an individual competition.</dd>
</dl>
