The main <b>League Tables</b> tab shows tables for all team events 
(either league or knockout) for active seasons. The tables can also
be shown individually within the event.
<h2>League table</h2>
The league table shows:
<ul>
<li>Matches played, won, drawn, lost.
<li>Match points for and against.
</ul>
Exactly which columns appear in a league table is configurable under event settings. Some of these columns are defined in a key under the league table:
<ul>
<li>SP = Season Penalty. The organisation or event owner has the option of assigning
penalty points for a team (not pertaining to a particular match). This is done
by selecting the team from the list of teams for the event and under
the Edit tab, entering a value in the Team Penalty.
<li>MP = Match Penalty. The number of game point penalties added against the
team
<li>IM = The number of incomplete matches. Matches where only part of the result has been entered.
</ul>
The order of teams is in the table is determined by an event level setting.
<p>
<h2>knockout table</h2>
The teams link to the teams. The layout of the table is determined
by if the event was designated as draw at start or draw by round as 
described in the knockout event setup help.
<h2>cross table</h2>
This is only visible by selecting the event, from under fixtures on the
left hand side and then picking <b>Cross Table</b> tab.
The match result links to the match.
