Selecting a team from a match card or an event allows the 
team settings to be updateb. There are 5 tabs:
<ul>
<li>Fixtures
<li>Players Stats
<li>View
<li>Edit
<li>Adoid Dates
</ul>
Within the <b>Edit</b> tab there are two options:
<ul>
<li>Team Details
<li>Teams to avoid - for fixture generation
</ul>
<h2>Team Details</h2>
<dl>
<dt>Team name</dt>
<dd>Name for the team</dd>
<dt>Match Night</dt>
<dd>This is used by the fixture generation to assign dates.</dd>
<dt>Club</dt>
<dd>This is used to determine access to update fixtures and 
which player list to use</dd>
<dt>Captain</dt>
<dd>The user who is the captain for this team. The only thing this does
is cause the contact details to be listed in the team captains report. To be
selectable in the dropdown the user must have a login id ( Ask LMS admin via the LMS Contact link at the top) and be a user of the organisation (Admin/ Owners)
</dd>
<dt>Team Order</dt>
<dd>This is used for ordering the teams within fixture generation.
For example if you want to ensure that teams from the same club
play each other first.</dd>
<dt>Team Penalty</dt>
<dd>This field is used for assigning a team penalty to a team which will
appear in the league table under the SP (Season Penalty) column.
</dd>
</dl>
<h2>Teams to avoid</h2>
This is a list of teams (which may be in other divisions) that will not be
assigned fixtures on the same day by the fixture date generation.
<h2>Match Dates to avoid</h2>
The <b>Avoid Dates</b> tab allows dates to specified for which no fixtures will be generated for for this team.
