<h2>New Users</h2>
If the user didn't get their welcome email, then its probably either:
<ul>
<li>The system has their wrong email address (in which case there should have
been an email delviery error message sent to mail@ecflms.org.uk )
<li>Its been classified as junk mail and they have a junk email or SPAM folder possible web based (some times they don't know about it )
<li>You forgot to check the notify user box when creating the user. In this case anyone could cause a new email to be sent using the request new password
option and specifying the email address of the new user.
</ul>
You can check if they actually have a user id using the <b>User Search</b>
option under the ecf admin options (or by searching for them to add them
to an organisation)
