<h2>User permissions</h2>
<ul>
<li>Only the organisation owner can update settings such as the name, treatment of unfinished games, etc.
<li>People listed as owner of a club may enter match results for teams of that 
club and may update the clubs details on the club page.
<li>People listed under the owners of an event may add fixtures to that event,
and may update any match within that event.
<li>People listed under owners of the organisation can create events, and add clubs to the organistation, generate fixtures, add players to a clubs player list,
</ul>
<h2>Adding Users</h2>
(LMS Admin only) To add a new user, pick <b>Admin</b> from top menu.
Pick <b>Add User</b> and enter:
<ul>
<li>User name - can be anything - by convention first initial followed by surname, for example Malcolm Peacock would be mpeacock.
<li>Email address - required
<li>Password - leave blank and system will created one.
<li>Status - Active
<li>Notify user of new account - click this
<li>Name - fill this in.
</ul>
Click <b>Create New Account</b>
Inform the organisation owner of the username to help them identify the
user to add to their organisation. The user will receive an email from the 
system. If they don't get the email it is probably because it got blocked in a SPAM / junk mail (possibly web based) or because the email adderess was wrong. 
