Each club has a number of owners listed. These users can:
<ul>
<li>Enter match results for any team in their club.
<li>Verify a match result for any team in their club.
<li>Update their club information.
</ul>
The <b>Team Captains</b> tab shows a list of team
 captains populated from the captain selected under the team settings for events in active seasons.
The purpose of this is to enable people to know who the team captain is
and to contact them.
 Being listed as a team captain does not give you permission to enter match
results - you need to be listed as an owner of the club. 
<p>
The contact details in the team captains list are taken from the user account
details of that user. This can be updated by the individual via the <b>My Account </b> option or by the LMS administrator via the <b>Users </b>option under 
the admin menu.
<p>
To have someone listed as a team captain:
<ul>
<li>Get them a login id.
<li>Select them as a user of the organisation (Admin/ Users)
<li>Pick on Team, Edit tab, select them as captain
</ul>

