<h2>Event Settings</h2>
Fields in the events settings related to membership and rating:
<dl>
<dt>ECF members only</dt>
<dd>This settings causes only players who the LMS knows to be ECF members to be displayed in the drop down for selecting players for matches.
Note that the LMS may not know someone is a member if they are a new member who has not yet been allocated a grading code or if they renewed their membership without specifying their grading code or got renewed as a new member.</dd>
<dt>Grading event code</dt>
<dd>This uniquely identifies the event for grading purposes. If the LMS is sending the event for rating then it will be ignored</dd>
<dt>Treasurer</dt>
<dd>This is passed to the rating system and ultimately used as a contact point for the ECF if their is any game fee due on an event due to non members.</dd>
<p>
<dt>where to send for rating</dt>
<dd>How this event should be rated. ie is it an online event or OTB? what rate of player. This is importand as there are different ratings for standard play and blitz.</dd>
<h2>Ratings</h2>
As of November 2022, the LMS has the following available gradings:
<table border>
<tr><th>ECF Blitz Online</th><td>Latest Blitz rating updated daily</td></tr>
<tr><th>ECF Blitz OTB latest</th><td>Latest Blitz rating updated daily</td></tr>
<tr><th>ECF Rapid Online</th><td>Latest Online rating updated daily</td></tr>
<tr><th>ECF Rapid OTB August</th><td>Original rating does not change</td></tr>
<tr><th>ECF Rapid OTB January</th><td>Original rating does not change</td></tr>
<tr><th>ECF Rapid OTB Latest</th><td>Latest OTB rating changes daily</td></tr>
<tr><th>ECF Rapid OTB Monthly</th><td>Original rating for this month does not change</td></tr>
<tr><th>ECF Rapid OTB September</td><td>Original rating does not change</td></tr>
<tr><th>ECF Standard Online</th><td>Latest Online rating updated daily</td></tr>
<tr><th>ECF Standard OTB August</th><td>Original rating does not change</td></tr>
<tr><th>ECF Standard OTB January</th><td>Original rating does not change</td></tr>
<tr><th>ECF Standard OTB Latest</th><td>Latest OTB rating changes daily</td></tr>
<tr><th>ECF Standard OTB Monthly</th><td>Original rating for this month does not change</td></tr>
<tr><th>ECF Standard OTB September</td><td>Original rating does not change</td></tr>
<tr><th>ECF Standard OTB September Old</td><td>Last years September rating does not change</td></tr>
<tr><th>FIDE Blitz</td><td>Updated each month</td></tr>
<tr><th>FIDE Rapid</td><td>Updated each month</td></tr>
<tr><th>FIDE Standard</td><td>Updated each month</td></tr>
</table>
<p>
There are potentially be 60 ratings available = 5 ( otb standard and rapid, online standard, rapid and blitz ) x 12 months. The LMS might need a rewrite of the Event settings screen rating selectors if we have to support too many of these.
