The page controlling loading of ECF grading and membership data is accessed
via the <b>LMS Admin</b> option, and then <b>Grading Data Load</b>
There are 3 areas on this page:
<ul>
<li>Loading Grading File.
<li>Loading Membership file.
<li>Direct database connection.
</ul>
<h2>Loading Grading File</h2>
Get the <a href="http://www.ecfgrading.org.uk/files/masterlist.zip">grading file</a> from the ECF website and save it somewhere. Then upload into the 
system using the browse button and press <b>Load ECF File</b>.
This is best done when nobody is using the system as it may temporarily 
mean grades are not available for a short time. THIS OPTION IS OBSOLETE
AND SHOULD NOT BE USED.
<p>
The <b>On January Grades</b> checkbox must be checked if you have just loaded
in the January grades. It must not be checked if on August grades.
<h2>Loading Membership File</h2>
Get the .xls form of the membership file from the ECF web site.
Use the load membership file to load.
This is best done when nobody is using the system as it may temporarily 
mean membership data are not available for a short time.
<h2>Online Ratings json file</h2>
This option is for loading a json file containing online ratings.
<h2>Monthly Grading System</h2>
This option Defines the connection to the monthly rating system.
If the day of the month field is entered then it will run automatically via the drupal cron. The load of grading data can be run also by pressing the <b>Run Monthly Grading Load Now</b> button. 
<p>
The on january grades box relates to the old grading system and is not 
relevent.
