<h2>I don't know what to do, where do I start?</h2>
The first thing you need is a login id. If you don't have one, contact 
the LMS administrator via the LMS Contact link at the top.
<ul>
<li>Start <a href="orgsetup?popup=1">here</a> if you are setting up a new organisation or league for the first time.
<li>Start <a href="matchcard?popup=1">here</a> if you are a team captain wanting to enter a match result.
</ul>
<h2>I didn't get the welcome email for my new login id</h2>
Usually this is because the email got put into a SPAM/Junk mail folder.
Some email providers have a web based junk email folder so check there also.
<h2>I forgot my password or login ID</h2>
Go to <b>My Account</b> then <b>Request New Password</b>. Enter your email address and it should reset your password and send you another email with login
instructions.
<h2>How do I get access?</h2>
<ul>
<li>To become owner of an organisation, ask one of the existing owners to add you. They need to first add you as a user under Admin/Users then add you as an owner under Admin / Owners.
<li>To be able to update match results, as your organisation owner to add you as a club owner. To do this they need to add you as a user of the organisation under Admin/Users, and then add you as a club owner of the appropriate team by selecting the club from the home page, and then pick the Club tab, then Owners.
<li>If you need to add a new organisation owner and the existing owner cannot be contacted then please put in a request via the LMS Contact link at the top left with details prefereably including email addresses of other comittee members of the organisation to confirm the request.
</ul>
<h2>A player is missing from the dropdown list on the matchcard</h2>
You can either select <b>New Player</b> and put details in the match comment. Or
if the admin of your league is happy for clubs to maintain their own lists,
pick your club from the home page, pick player list tab and you get 2 options:
<ul>
<li>Add existing player - for someone already in the grading list
<li>Add new player - for a completely new player
</ul>
<h2>A player is missing from the dropdown list on the team selection</h2>
If you have members only set on the event, it could be that they are not
an ECF member. If they became a member recently it could take a day or 2 for that information to feed through to the LMS.
<h2>How do you delete a player list?</h2>
Admin option on top menu, Player Lists on 2nd lower menu, select the player list and then pick on the Admin tab. Click delete button.
<h2>Can you delete a player from a list if they already have games?</h2>
Yes. Removing a player from a list doesn't remove them from the system.
<h2>Why can't I see the event I created?</h2>
Try looking under Previous Seasons. Possibly the season that the event belongs to is inactive.
<h2>How do I add an event to a new season</h2>
Create a new season under admin / season.
<h2>How do you delete a club?</h2>
Pick the club from the home page. Then <b>Club</b> then <b>Settings</b>
There is a delete button here. You can't delete a club if it belongs to
any organisation. See below 
<h2>How do you remove a club from an organisation</h2>
Pick the club from the home page. Then <b>Settings</b>
There is a button to remove the club.
<h2>Is the LMS compatible with smart phones?</h2>
The League Management System is compatible with smart phones, although there are few improvements that could be made to giver a better user experience. You may need to zoom in/out rotate to 90 degrees. It is known to work with a Samsung Galaxy S3. It will be improved since several people have asked about this.
<h2>How do you change a team match night?</h2>
Select the event, and <b>Teams</b> tab. Select the team. Select Edit. 
Modify the match night using selector.
<h2>How do you delete a team?</h2>
Select the event, and <b>Teams</b> tab. Select the team. Select Edit. 
Click Delete Button at the bottom. Note you can't delete a team with fixtures so you either need to modify the fixture to use a different team or delete the fixture. 
<h2>How do you delete an event?</h2>
Select the event, and <b>Edit</b> tab. Scroll down to see the <b>Delete</b>
Button at the bottom.
<h2>Error message: results visibility field required?</h2>
This field was added after some organisations were created so needs
setting to normal.
<h2>What permissions do secretaries and captains have?</h2>
<ul>
<li>Selecting a user as secretary does not give any rights
<li>Selecting a user as a team captain does not give any rights - it just means they appear in the team captains list.
<li>Having a user as a club owner means that they can input match results, update the text on the club page, and update player lists for their club.
</ul>
<h2>What is match card comment and flagged matches?</h2>
Match cards have comments:
<ul>
<li>To enter details of any players not in the player lists (especially in leagues where they don't want the clubs to add them)
<li>To enter a match report (in my league someone collates them and sends something to the local paper)
<li>To enter details of adjournments
</ul>
Flagging is so that you can easily know when someone has entered a comment so you can react to it (sometimes people put things there and I didn't notice for weeks). Also worries about people putting abusive comments, so there was a thought about only allowing comments that had been seen by an organisation owner to be visible. The idea is if you click the link "Mark comments as seen" on the match card it takes it out of the flagged list, and you know you have dealt with it 
<h2>What if the number of boards in a match changes?</h2>
The organisation or event owner can delete boards from a match under the admin tab. The other
option is to set the result as 0-0 and both players as Default.
<p>
The owner can also add additional boards.
<h2>What is the difference between an adjustment and a penalty?</h2>
The only practical difference is that penalties appear in the league table
under the MP column whereas adjustments do not, although they both affect
the score of the match.
<p>
Adjustment - If a game was scored 1-0, you might need to send it off for grading as 1-0, but the score towards the match should be 0-1. So the adjustment would be -1 for A and +1 for B.
<p>
Penalty - You might just have a penalty gamepoint for some other offence, in which case, some team would be -1.
<h2>How do you enter a match without grading? eg double-header?</h2>
If for example you want one match to count for a league and a cup competition but don't want it graded twice. Enter one of the matches as 'Default' vs 'Default' on each board but with the correct score.
<h2>Why don't some players appear on the initial player list for a club?</h2>
Only graded players whoose primary club (the one most of their graded games are assigned as) matches that club. Otherwise there would be too many players.
<h2>What happens with new players with no grading codes?</h2>
Use the "Add New Player" option, leaving the grading code blank. Then when the results get sent to the rating system, the person named as grader gets an email to say the file has been rejected because of missing grading codes. If you are a registered grader you can log into the rating system and request new codes. If not. the grading administrator notices (possibly after some delay), and should create the new codes and resubmit, at which point the grader gets another email with a link to a list of the newly created grading codes. The grader should then ensure that these grading codes get added back into that player record on the LMS.
<h2>What ratings are shown on player lists?</h2>
When looking at a players rating via the player list on the club, you see the original August standard, and rapid play ratings, or you see the local rating for that organisation suffixed by an L if there is one. The live rating column contains the latest standard play rating.
<p>
When looking at a players rating via the Home or Away players tab on a matchcard , you see the rating that you have selected for the event. If it has an L after it is a local rating. This is the list you could use for event elidgibility.
<p>
You can see all the ratings the LMS has by picking on the player.
<p>
The rating shown when viewing the match result itself are an organisation level setting.
<h2>How to merge 2 player records that are the same player</h2>
If a player players in 2 different organisations they will have a record in the LMS for each one. However if they have more than 1 record in the same organisation this is what can be done to resolve the situation:
<ol>
<li>
First have a look at Admin / Duplicates. If you see it here, then select the Keep button relating to the one you want to keep. It doesn't really matter which one. It will then give you a confirm screen telling you which match results its going to move from one player to the other.
<li>
If one of the duplicates does not have an ECF grading code assigned, then you won't see it in the duplicates option. But it might be seeni in the Admin / New Players option. Select the player from here and it will give you a list of which player from the rating database it is. Select it.
</ol>
<h2>Can you copy a player list?</h2>
No. There is no copy facility. But there are 2 things that might help if you can do some work with spreadsheets.
<ol>
<li>If you go into an events <b>Manual Grading</b> and then generate an Excel grading file. That Excel file has a player list tab in it. It is possible to load that list of players into a player list via the "Load File" tab on an LMS player list. The problem with that is it only contains those players that played in the event.
<li>If you go to Admin/"Player lists" tab in the organisation you can extract them as Excel files although unfortunately they are not in the correct format to load into the option above, so you would have to reformat change them.
</ol>
But depending on what you are doing it might take too long to figure it out.
<h2>How to give both teams zero points in the league table</h2>
To give both times zero points, adjust the score so that it is a draw using the admin tab (or however you want), then give each team a season penalty to remove the 1 point they got for the draw.
<h2>What to do if a team withdraws</h2>
Graded games should be retained, so you should not delete matches or games.
<p>
One option is to go into the Admin tab of each match involving the team that has withdrawn and edit the scores to 0-0 . This will still mean that those teams have played the team that has withdrawn, will appear to have played more matches, unless you also go through and enter 0-0 into the results of the remaining matches. 
<p>
If you want to remove the withdrawn team from the league table completely, then you could re-enter the games that were played involving that team into a differnt event, then remove them from the original event. This can only be done if the games are not too old, less than 6 months old ( depends on what the rating system allows ).
<h2>Something is wrong in the ECF rating database</h2>
For example two different versions of the same player, a player has the wrong name. It is a rating issue, not LMS. Contact the rating administrator Matthew Carr <a href="mailto:rating@englishchess.org.uk">rating@englishchess.org.uk</a>
<h2>Why does the LMS work like this?</h2>
<ul>
<li>It lets you put the same player twice in a match. This is because some clubs play fixtures where they play each other twice. There is some new functionality allowing multiple matches in the same fixture so it may be possible to put more restrictions here.
<li>Should it force you to put a comment in about New Players? possibly but not if you are an administrator. Also what if someone enters a match result and
then changes it to New Player later after they already commented ? It is not
possible to update comments on the submission form unless there are no existing comments as multiple comments are allowed.
<li>Why can you see the <b>Enter Match Result</b> tab even if you don't have access to it? This is so you can press it and find that you don't have access. Otherwise you ask me how do I update a match result because you can't see the option.
</ul>
