<h3>General</h3>
Events can be submitted for rating via the ECF’s LMS in two ways  – using automated or manual submissions. Automated submission is an easy process and avoids the need for the grader to generate a grading file and submit to the rating system. Manual rating involves two separate steps (rating file generation and manual submission to the rating system) but allows the grader to track the submission process more closely.
This page summarises what you need to know to for either option and how to check that your event has been successfully submitted and rated.
Even if you let the LMS do automated submission then there is still a job to be done by the grader to ensure results are stored against the correct players - trying to prevent instances where a player appears twice in the grading list for example. The role of grader can be taken in the LMS by an organiser.
<h2>Automated Submissions</h2>
If the LMS is sending your event automatically, then the settings under the <b>Manual Grading</b> tab for the event or for the organisation admin do not have any effect and can be ignored. Games will be sent for rating on the 7th, 14th, 21st, 28th of the month.
<ol>
<li>In the event settings, set <b>where to send for rating</b> to the appropriate value for the type of event. Note that the <b>Rating shown on matchcard</b> and <b>Extra rating in brackets</b> have no impact on the where the event is sent for rating.
<li>Ensure that you have the correct grader selected at organisation level - this is the person who will be emailed any errors. If this person is not a valid grader according to the rating system then the results will still go through, but they will not be able to take actions in the rating system itself such as requesting new players. If you wish to become a grader contact the <a href="mailto:grading@englishchess.org.uk">rating team</a> to ask. 
<li>Ensure that the correct treasurer is selected for the event - this is the person who will be billed by the ECF for any game fee owed
<li>Check in Reports / auto grading that the event shows for auto grading and that there are no errors. There is also a games count to show how many games have been sent to the grading system in previous months.
</ol>
The LMS sends files to the rating system at 2am on the 7th, 14th, 21st and 28th day of each month, the idea being that there is time to correct errors before the end of the month. It will only send an event if a fixture or round in that event has been updated since the last automated sending. <b>Note</b> it only looks at Active seasons, so don't make a season inactive until all results are in.
<p>
The person specified as grader will receive an email with feedback from the grading system notifying them if the grading submission was successful or if there is anything they need to fix. Some things can be fixed in the LMS such as:
<ul>
<li>missing ECF grading codes
<li>new players who do not have a club specified
</ul>
If you fix something in the LMS, go to <b>Reports/auto grading</b> and press the <b>Resubmit</b> button for the appropriate event. You can also press this button at any time you want to update the rating system although it will still get sent automatically anyway.
<p>
For a player missing a grading code, graders can login to the rating system (via links from the email) to choose the grading code from a list of possible matches or request a new one (for a new player). These things can be fixed in the rating system without resubmit in LMS. But once a new grading code is assigned in the rating system it would need entering in LMS ready for the next time the event was sent through to grading.
<p>
If you are not a grader and so can't request new grading codes via the rating system the ECF grading administrator should notice the failed submission and create them. You should get an email within about a week. If this doesn't happen contact <a href="mailto:grading@englishchess.org.uk">the Grading Administrator</a> at grading@englishchess.org.uk . The email will tell you the new grading codes that were created. These need to be entered into the LMS manually in the player lists against the players concerned.
<p>
It would save a lot of trouble if organisers could ensure that player grading codes are correct using the various reports that are available in the LMS. 
<p>
To see if your event has made it into the rating system look <a href="https://www.ecfrating.org.uk/v2/new/list_events.php">this page</a>
<h2>Maunual Grading</h2>
Graders are assigned a 2 character code which they use to prefix an event code which they make up.
This event code is specified as an input when creating the grading file from
the LMS. After creating the file it should be checked using the ECF Checker
program before emailing to the ECF grading administrator.
<p>
There are two places where ECF grading files can be created:
<ul>
<li>From <b>Admin/ECF Grade File</b>
<li>Select an event, then tab <b>ECF Grade File</b>
</ul>
The first option allows you to create a file containing all standard graded 
events in one file. The second option does one event only. 
<p>
There are two different types of grading file:
<ul>
<li>Excel format grading file. This has the advantage that it is readable so
you can modify easily in Excel. The disadvantage is that you must open it in
Excel and then save it. Otherwise if fails the ECF checker program.
<li>The .TXT format grading file. This can be fed straight into the checker program.
</ul>
The <b>View Grading Data</b> button just shows the data what would be
placed in the file if the <b>Generate Grading File</b> is pressed.
<p>
Grader - The user whos details should be put on the ECF grading spreadsheet as being the grader for this event. This defaults to the person currently 
logged in.
<p>
Submission number - This should be 1, for the first file you submit for an
event (eg a mid season January grades file) and increase for subsequent files.
Files with higher submission numbers overwrite all results for previous files.
This means that you don't need to worry if some results have already been 
submitted earlier on. Also it allows errors to be corrected.
<p>Treasurer - this is the email address of the person who will be contacted
for game fee for people who are not ECF members.
