<h2>Clubs not listed</h2>
The list of clubs is based on the rating list.
If you want to add a new club that doesn't appear in the list, then contact the <a href="mailto:grading@englishchess.org.uk">rating team (Matthew Carr <grading@englishchess.org.uk>)</a> to ask for a new club to be added. After being added in the rating system it should appear in the LMS the day after as there is an overnight refresh. You can also request it via the LMS contact form as we can create them as well.
