/*
 * Styles for league_ecf.
 *
 */
.form-item-ecf-code {
  width: 18em;
  float: left;
  height: 60px;
}
.form-item-ecf-member {
  width: 18em;
  float: left;
  height: 60px;
}
/*
 * Event Grading Tab.
 */
.form-item-code {
  width: 20em;
  float: left;
}
.form-item-submission {
  width: 20em;
  float: left;
}
.form-item-grader {
  width: 20em;
  float: left;
}
.form-item-gname {
  width: 20em;
  float: left;
}
.form-item-treasurer {
  width: 20em;
  float: left;
}
.form-item-tname {
  width: 20em;
  float: left;
}
.form-item-start {
  width: 30em;
  float: left;
}
.form-item-date {
  width: 30em;
  float: left;
}
#league-ecf-event-grading-form .form-item-date {
  width: 30em;
  float: left;
}
.form-item-colors {
  width: 20em;
  float: left;
}
/*
 * Event Settings Tab.
 */
#league-event-settings-form .form-item-auto {
  width: 25em;
  float: left;
  height: 5em;
}
.form-item-ecf-mem-only {
  width: 25em;
  float: left;
}
.form-item-tname {
  width: 25em;
  float: left;
}

.form-item-types {
  width: 25em;
  float: left;
}
.form-item-what {
  width: 25em;
  float: left;
}
.form-item-rlid {
  width: 25em;
  float: left;
}
.form-item-rate {
  width: 25em;
  float: left;
}
.form-item-rate2 {
  width: 25em;
  float: left;
}
#league-ecf-event-grading-form .form-item-season {
  width: 25em;
  float: left;
}

#league-event-settings-form .form-item-rate {
  width: 20em;
  float: left;
  height: 5em;
}
#league-event-settings-form .form-item-rate2 {
  width: 20em;
  float: left;
  height: 5em;
}

#league-event-settings-form .form-item-gcode {
  width: 20em;
  float: left;
  height: 5em;
}
#league-event-settings-form .form-item-treasurer {
  width: 20em;
  float: left;
  height: 5em;
}
#league-event-settings-form .form-item-grader {
  width: 20em;
  float: left;
  height: 5em;
}
