There are 8 options under the <b>Admin</b> tab:
<ul>
<li>View Settings - which shows you the organisation level settings
<li>Update Settings - which allows organisation owners to change the settings
<li>Display - which allows the text on the organisation home page to be changed.
<li>Local Grades - which allows organisation owners to zero local grades and shows the status of the system grading and membership lists.
<li>Users - where new users can be associated with the organisation so they appear in user slection lists
<li>Owners - where organisation can be set.
<li>Contacts - a list of links to the organisation owners contact forms.
</ul>
Some of these are only visible to organisation owners.
<h2>View Settings</h2>
You can view various settings for an organisation under the <b>Admin</b> tab for
an organisation. If you have access to change these there will be an Update <b>Update Settings</b> tab takes you to a page where they can be updated.
<h2>Update Settings</h2>
These settings relate to the whole organisation - ie they apply to all events run by the organisation.
<dl>
<dt>Name</dt>
<dd>
Name of the organisation, for example "Birmingham and District League"
</dd>
<dt>Organisation Type</dt>
<dd>
Type of the organisation: Normal, Club, Test. This determines which column the organisation appears in on the home page. Test organisations could also be excluded from some options ( such as rating )
</dd>
<dt>Unfinished Games</dt>
<dd>
This option indicates how unfinished games are treated. An unfinished game is
a game in a fixture that has a result of Adjourned, Adjudication, or no result
entered. The options are:
<ul>
<li>Ignore unfinished games. The match score is considered to be made up of
those games that have a result (or default).
<li>Treat unfinished games as drawn. Each game with no result entered is treated as though it were drawn. Thus for example, in a 3 board match if the result of
one board is entered as a win for the home team, and the other games left as
no result, or adjournemnt or adjudication then the match score will be 
considered to be 2 - 1 for purposes of the league table.
<li>Assign Match Points if Threshold Passed. If one team has gained enough
points to draw the match, then they are given one match point in the league table.
If they have gained enough they are given 2 points.
<li>Ignore Unfinished Matches. If any game within a match does not have
a result specified then the whole match is ignored for purposes of the league
table.
</ul>
</dd>
<dt>Unnamed Default</dt>
<dd>
If an unnamed player is given a default in a match on a board above a named player then this is reported as a <a href="violations?popup=1">violation</a>.
</dd>
<dt>Grade Limit Option</dt>
<dd>
This setting has 3 options:
<ul>
<li>Use total grade - for any event with a grading limit, match results are checked to see if the total grade is under the limit. If not a <a href="violations?popup=1">violation</a> is reported.
<li>Use average grade - for any event with a grading limit, match results are checked to see if the average grade is under the limit. If not a <a href="violations?popup=1">violation</a> is reported
.
<li>All players under the limit - for any event with a grading limit, match results are checked to see if all players are under the limit. If not a <a href="violations?popup=1">violation</a> is reported
.
</ul>
</dd>
<dt>Team Designation</dt>
<dd>
When creating teams, affects if the default team name is of the form "Club Name A" or "Club Name 1", ie if it is numeric or a letter.
</dd>
<dt>Matchcard Visibility</dt>
<dd>
This option has 5 settings:
<ul>
<li>(N) Normal - anyone can see a match pairings or results.
<li>(R) Restricted - causes match results to be only visible to logged in users. This option was created for a schools league where individual results are restricted.
<li>(M) Team Selection Option with time. Only the admin can see the match results before the match time. Club owners can see a team selection which allows then to select their team but not allow them to see the other teams players prior to one hour before match time. This could so that the match pairings could be entered but not revealed until one hour before the match is due to start.
<li>(L) A more lenient version of (M) that allows a team selection change after the one hour before the match deadline but raises a violation.
<li>(V) Team Selection Option Manual. This is like the option above but not dependent on the match time. ie club owners can see a team selection which allows then to select their team but not allow them to see the other teams players. 
<li>(S) No Match Update. Club owners can see the players on the match but not access the match card yet which would allow them to change their team.
</ul>
</dd>
<dt>White on odds default</dt>
<dd>
If the first board should default to White on odds at Home or Away.
</dd>
<dt>Treasurer</dt>
<dd>
Select (from the list of organisation users) who will be listed as 
treasurer for the organisation.
</dd>
<dt>Player List Access</dt>
<dd>
This option controls what access to player lists club owners are allowed.
There are 6 levels of access:
<ol>
<li>Organisation owners only
<li>Club owners can add existing players to lists but not create new players
<li>Club owners can add players to lists and create new players. When creating
new players they cannot enter the grading code, grading, and membership fields as this would allow them to create a copy of an existing player.
<li>Club owners can add players to lists, create new players and set local 
grades. The grade field is only editable if the grading category is blank (eg
a newly created player), 'L' a local grade or 'F'. The local grade is 
mandatory in this case. Local 'L' grades are defined in a player's details and are an optional way of giving ungraded players a grade or overriding the player's official grade.
<li>Club owners can add players to lists, create new players and set local 
grades. The grade field is only editable if the grading category is blank (eg
a newly created player), 'L' a local grade or 'F'. 
<li>Club owners can do anything within player lists including delete.
</ol>
Note that there is one version of a player's details per organisation, so the
player could have different local grades for example. Access is granted based
on the club that is listed on the players details, rather than the list that
the player is in, since it is possible for the player to belong to more than
one list.
</dd>
<dt>Flag Match Comments</dt>
<dd>
If this box is checked then if anyone enters a comment against a match
it appears in the Flagged Matches report. The idea is that the organisation
owner can react to the comment and then mark the comments as seen when
he has dealt with the issue (if there is one). It can also allow the owner
to check for abusive or inappropriate comments.
</dd>
</dl>
<h2>Display</h2>
This is some text describing the league which will be shown on the home page.
A limited list of HTML tags can be used.
<h2>Local Grades</h2>
In a player's details for an organisation it is possible to specify a local grade which will override the one from the grading system. This is specific to the organisation and does not affect that player in any other organisation. If you specify a non-zero rating in this field, then in a match the LMS will use this local rating instead of the one specified for the event, and it will put a letter L after it. If the rating in the LMS for the player is zero, then it will use which ever ECF rating had been selected for that event (standard, repid etc ).
Rather, than you having to go into each players record and update it, this option allows the organisation administrator to remove any local grades so that the player's official grade takes effect.
<h2>Users</h2>
Users - The list on the right shows users who are part of the organisation. This determines which users appear in the selection lists for who can be added as an owner. 
<h2>Owners</h2>
Owners - who are able to do anything in an organisation such as add events and clubs. For someone to enter match results, don't add them here - just make them a club owner.
<h2>Contacts</h2>
This tab lists the owners of an organisation as links to their contact form so that you can send them a message if you want to. It is also the destination of the "Contact Organisation Owner" link under the help.
