<h3>Chess League Management</h3>
Administrative tasks:
<ul>
<li>Adjust player lists if desired.
<li>Add user names for team captains to enter match results, and
permission them as users for the appropriate club.
<li>Input any results that the team captains don't.
<li>Add missing players to the player lists
</ul>
