Picking a club from the list of clubs on the home page of an organisation
takes you to a page about that club within that organisation. Some of the
information pertains only to that organisation and some to the club 
as a whole.
<h2>Club Information - organisation specific</h2>
There will be a tab for each organisation that the club belongs to. Under it there are the following options:
<ul>
<li>The <b>Home</b> tab shows the common club information as described below for convenience.
<li>The <b>Player list</b> tab shows the player list for the club within this
organisation. If a club belongs to more than one league organisation it
would have a separate player list for each one which could be different.
<li>The <b>Add Existing Player</b> tab allows a player already known to the National grading list to be added.
<li>The <b>Add New Player</b> tab allows an entirely new player to be added.
<li>The <b>Fixtures</b> tab shows the clubs fixtures within that organisation
<li>The <b>Player stats</b> tab shows player performances for the club within
<li>The <b>Settings</b> tab allows an organisation owner to remove the club from the organisation.
</ul>
<h2>Club Information - common to all organisations</h2>
The club tab has the following underneath it:
<ul>
<li>The <b>View</b> tab shows the club settings and can show any club specfici text which may for example describe the clubs
venue, can be changed using the <b>Settings</b> tab.
<li>The <b>All Fixtures</b> tab lists all a clubs fixtures across all 
organisations it belongs to within the LMS.
<li>The <b>Player stats</b> tab shows statistics for players broken down by each organisation the club is in.
<li>The <b>Settings</b> tab allows the club settings to be updated.
<li>The <b>Owners</b> tab allows club owners to be updated.
<li>The <b>Fixture Generation</b> option lists a set of dates which the fixture 
generation will avoid when generating fixtures for that club.
</ul>
