There are 3 tabs listing the results of a players games in currently active seasons:
<ul>
<li>Games - a list of all the games
<li>Grade(Std) - a list of Standard Play rated games.
<li>Grade(Rapid) - a list of Rapid Play rated games.
</ul>
The performance estimate is based on the games the LMS knows about
and assuming making this up to 30 games based on current ECF grade.
For example, if you have played 2 games scoring 123 and 145, and your current grade is 130 then it will work it out as (28*130 + 123 + 145) / 30. So any 
resemblance between this and a real grade is purely coincidental.
This is out of date and may be removed.
