An individual event works in much the same way as a team event except
that the fixtures become rounds and the number of boards is the (default)
number of players in the round. There is no way of importing individual event
fixtures.
To create an individual event go to <b>Admin/Events</b> and do <b>Add Event</b>. Select one of these event types:
<ul>
<li>Individual Swiss
<li>Individual Unstructured
<li>Individual All Pay All
<li>Individual Knockout
</ul>
The main difference this makes is in how the results table is drawn.
<p>
The other thing that is different for an individual event (compared to a team event) is that the player list is tied to the event and not to a team/club.
You can select an existing player list when creating the event,
for example this could be a club list for a club championship.
If there is no suitable existing player list, then go to <b>Admin/Player Lists</b> and create a new player list. Then go back and select the correct 
player list from within the event.
<h2>Adding Rounds</h2>
To add the first round of the event, select the event from the left hand
side, then click on the <b>Rounds</b> tab and <b>Add Round</b>. 
To add players, pick the round from the list of rounds
and enter players like for a match result, but leave the actual result
of the game blank (ignore the warning message for missing results)
<h2>All play all pairings</h2>
Rather than adding each round seperately, for an all play all event it is 
possible to add them all at once. From the Generate Pairings tab within the
event press the <b>Generate Pairings</b> button. Make sure that your player
list only contains those players that are playing in the event.
 (and therefore you should create a player list specifically for the event - although one from a previous year can be used)
