To set up a team knockout event you need to:
<ol>
<li>Create the event
<li>Add teams
<li>Add fixtures
</ol>
<h2>Create The Event</h2>
Select Admin, then Events, then Add Event to organisation.
Enter:
<ul>
<li><b>Event Settings:</b>
<ul>
<li>an event name, e.g. Knockout Cup
<li>select event type of Team Knockout (Draw at start) if the draw for
your event is determined at the start (like Wimbledon tennis). If a new
draw is made each round, then select Team Knockout (Draw by round)
<li>a season, e.g. 2016 which must be active.
<li>Grading type - Rate of play and list used when determining if under the rating limit (if there is one)
<li>Extra Rating in brackets - will appear in the match card after the primary rate of play in Grading type above.
<li>Event order - This defines the positioning of the event in the list of events on the left side of the organisation's LMS home page, those events having a large value appearing further down the page. If two events have the same event order value, eg 0, then their position relative to each other is undefined and may change.
<li>Grading limit. Total/average grade for the team (depends on the setting for your organisation). Leave at zero for an open event.
<li>Default grade. If left at zero, then it will be the average grade.
<li>Initial Number of boards 
<li>Handicap - causes a field to become visible where the match reporter
can enter a handicap value (eg for competitions where there is a handicap based on grading)
<li>Grades Below Default. If this is set to "Count as Default grade" then it causes anyone who has a grade below the default grade for the event to be treated as though they had the default grade. Specifically they would appear in the drop downs for match selection as the default grade (instead of their own grade) and so count towards <a href="violations?popup=1">violations</a> of grading limits as the default grade.
<li>Platform - if lichess or chess.com causes a link to the online player to appear in the matchcard.
<li>Display Text - some text about the event which appears in event view tab.
</ul>
<li><b>Owners.</b> It is possible to delegate the control of one event to another user. If you want to do this, select <b>Owners</b>, then check their userid.
</ul>
<p>
Press the Save button at the bottom.
<h2>Adding Teams</h2>
<ol>
<li>Navigate to the event. If you just added it you will already be there.
If not, select the event from the list of events under <b>fixtures</b> on the left hand side.
<li>Select the Teams tab (sub menu).
<li>Select the club the team belongs to, the match night, and edit the team name
if necessary. If the club is not listed it needs adding under <b>Admin/Clubs</b>
<li>Click <b>Add Team</b>.
</ol>
<h2>Adding Fixtures</h2>
Select the <b>Edit Fixtures tab</b>. Select <b>add fixture</b>.
<ol>
<li>Select the home team.
<li>Select the away team.
<li>Select the fixture date.
<li>Enter a round. Be careful to specify the correct round, or it won't draw the table correctly.
<li>Enter a table number (see below).
<li>Date option can be ignored, or you can set it as follows:
<ol>
<li>N/A - does nothing
<li>Postponed - means, rather than showing the date when looking at the fixture list, it will have the word 'postponed'. You can also filter on 'No date' fixtures on the main fixtures tab or seem them under Reports/Un-dated
<li>Not Set - means, rather than showing the date when looking at the fixture
list, it will have the word 'not set'
<li>Week Of - means, rather than just showing the date when looking at the fixture list, it will have the words 'week of' before the date. This is for when you have reserved a week for a cup match and you don't know the exact date until you know which the home team is.
</ol>
<li>Press Save button.
</ol>
<p>
If the event is of type "Draw at start" , then use the table number field
to arrange the knockout table (See the Draw/Results tab) to indicate
how the fixtures feed into the next round. For example, if you had 6 teams,
you might arrange the table thus:
<table border>
<tr><th>Round 1</th><th>Round 2</th></tr>
<tr><td>(table 1)Team 1 v Team 2</td><td rowspan=2>(table 1)Team ? v Team 3</td></tr>
<tr><td>(table 2)</td></tr>
<tr><td>(table 3)</td><td rowspan=2>(table 2)Team 6 v Team ?</td></tr>
<tr><td>(table 4)Team 4 v Team 5</td></tr>
</table>
or you might do it like this, depending if you want the winner of 4 v 5 to be
home or away.
<table border>
<tr><th>Round 1</th><th>Round 2</th></tr>
<tr><td>(table 1)Team 1 v Team 2</td><td rowspan=2>(table 1)Team ? v Team 3</td></tr>
<tr><td>(table 2)</td></tr>
<tr><td>(table 3)Team 4 v Team 5</td><td rowspan=2>(table 2)Team ? v Team 6</td></tr>
<tr><td>(table 4)</td></tr>
</table>
The differences between these 2 is that:
<ul>
<li>The fixture Team 4 v Team 5 has a table number of 4 in the first example and 3 in the 2nd.
<li>The fixture in round 2 for team 6 has its home and away swapped
</ul>
