Match cards are reached:  
<ul>
<li>From the <b>Enter Match Results</b> link below fixtures on the left hand
side, and selecting the home team.
<li>From the fixtures links, and selecting the result column.
</ul>
Six tabs should be shown:
<ul>
<li>Admin (Event owners only)
<li>Enter Match Result
<li>View
<li>Home Team Selection (club owners - depending on visisbility settings)
<li>Away Team Selection (club owners - depending on visisbility settings)
<li>Home Players
<li>Away Players
<li>Verify
<li>Violations
</ul>
<h2>Enter Match Result</h2>
If when you click on <b>Enter Match Result</b> it says you don't have 
access first check that you are logged on. It should say logged in as xxxx
on the left hand side. If you don't have a login id or you are logged in
but don't have access to the match, contact the organisation owner.
<p>
To enter a match result, select the players from the drop downs and the 
results. Selecting the colour of the first board will make the others
flip alternately.
<h3>What if a player is not in the list</h3>
Select the name as "New Player". Put some information into the press comment
about the new player that will enable the organisation owner to find them in the
grading list. For example if the player is John Smith, we need to know which
John Smith, so the grading points go to the correct person. Have they had a
grading before, have they just moved to the area? Which club did they play
for before. For new junior players it is desirable to have date of birth, but better to email or use the contact form for this sensitive information
rather than putting it in the matchcard comment.
<p>
If the missing player is from your own club you may have access to 
update the player to lists, This is done by selecting the <b>Home Players</b>
or <b>Away Players</b> tab as appropriate.
<h3>What about adjourned games ?</h3>
Select the result as Adjourned, and put something onto the press comment explaining when it will be resumed.
<h3>What if I made a mistake entering the result ?</h3>
If you notice the error within the next few days, you can just go straight back into the match card and fix it. If several weeks has elapsed, then it is possible that the match card has been "locked" to prevent you from changing it. In this case email the organisation owner.
<h2>Match Card View</h2>
The grade shown after the player and an optional one in brakets are 
determined by event level settings. 
<p>
It is possible to have small player photographs in the match card.
This needs the player to have a user id, have uploaded a photograph and
a link created to the user on the player page.
<p>
The PGN link creates a skeleton PGN file for the match into which the actual moves need to be added. It is also possible to get a PGN file for an entire event from the event View option. The WhiteElo and BlackElo fields are populated with the events primary rating.
<h2>Verify</h2>
Clicking on the verify tab causes the match to show as having been verified
by you. If the match result is subsequently modified then it will no longer show has having been verified, and would need verifying again.
<h2>Violations</h2>
This tab lists problems with the match, which could be one of the following:
<ul>
<li>Adjudication
<li>Adjournment
<li>Grading Limit Exceeded - Home Team
<li>Grading Limit Exceeded - Away Team
<li>Unnamed Player above named
<li>Unnamed Win by default
</ul>
These are listed on a report on the home page.
The organisation owner can tick a box to supress them
from this report when they have been dealt with.
<h2>Admin</h2>
This option only available to event owners allows penalties to be assigned and boards to be added or removed.
<h2>Home Players</h2>
This option shows the Home player list. Options to add or delete players may be available depending on the access permissions set for the oganisation.
<h2>Away Players</h2>
This option shows the Away player list. Options to add or delete players may be available depending on the access permissions set for the oganisation.
<h2>Settings</h2>
This option allows the teams, date and time of the fixture to be changed by 
event owners.
