<h2>Match Card Admin Tab</h2>
The match card admin tab allows an organisation or event owner to:
<ul>
<li>Enter a Penalty - a change to the match score that is also listed under MP in the league table.
<li>Enter Handicap or adjustment - if in the event settings, handicap is chosen this field is called "Handicap" otherwise is is called "Adjustment". This is a change to the match score that is not listed under MP in the league table.
<li>Modify the result of the match - ie who the winner was. This is for 
knockout events where the LMS can not work out who won eg board count etc.
<li>Lock the match
<li>Add boards - Boards can be added with the <b>Add Board</b> button.
<li>Remove boards - Boards can be removed from a match by checking the boxes to the right hand side and then pressing the delete button.
</ul>
<h3>Other Admin options</h3>
<ul>
<li>
Under the View tab on a match card, there is a link to mark the match as
posponed. It will then appear in the Flagged matches report (see link from
bottom right of organisation home page)
<li>
Under the View tab on a match card, there is a link to mark comments as seen.
The purpose of this is to remove the match from the flagged matches report.
Matches with comments appear in the flagged matches report if the 
organisation level option is set. The idea is that the organisation owner
might want to see which matches have had comments entered and responed to
them. Also he may want to check for abusive comments so these can be removed.
</ul>
