This page describes what you need to do to set up an organisation for the first time. You should have been given a userid and been able to login. Pick on the
new organisation from the front page. If you pick on the <b>View</b> tab on
the right hand side, you should see your own userid listed as one of the owners
for the organisation. If not contact the LMS administrator.
<p>
First a description of some terminology:
<dl>
<dt>Organisation</dt>
<dd>An Organisation groups together a number of competitions (events) run in different seasons. It is usually a League, such as Somerset League. But it could be club running a club championship.</dd>
<dt>Season</dt>
<dd>A Season groups together a number of competitions (events).It is usually something like "2016/17 Season", "Summer League 2018". It could also be something like a congress with the sections in the congress being events</dd>
<dt>Event</dt>
<dd>An Event is one particular competition, for example League Division 1, Knockout cup, Invididual Championship. An organisation can contain a number of different events in different seasons. Only events in active seasons are listed on the organisation home page. Events for previous seasons can be accessed via the option on the top menu bar.</dd>
<dt>Club</dt>
<dd>A club is a chess club known to the national grading system. You must setup clubs to have team events. The club will be used to initially populate the player list from the grading system. In the case of the county championship, a club could be a County</dd>
<dt>Team</dt>
<dd>A club can have one or more teams. A team belongs to one event only.</dd>
<dt>Fixture</dt>
<dd>A fixture belongs to an event. It could be a match between 2 teams of a league or a round of an individual competition.</dd>
</dl>
Setting up an organisation for the first time:
<ul>
<li>Add Clubs
<li>Add text about your league
<li>Set league options appropriately
</ul>
<h2>Adding Clubs</h2>
You need to add clubs for any teams that you want. The club is only added once, even if there are multiple teams for that club.
<p>
Select <b>Admin</b> then <b>Clubs</b>.
If you don't have an <b>Add Club</b> button, then contact the organisation owner - you have't been given the correct permissions. 
<p>
There are 2 ways to add a club:
<ul>
<li>Select the appropriate club, then press <b>add club</b> button.
<li>Enter the clubs name or Club code in the box next to the
<b>Search Clubs</b> button and then press the button and select from the list.
</ul>
Do this for each club in the league.
<p>
The club status within the organisation can be:
<ul>
<li>Active - appears on home page and available for use in teams.
<li>Friendly - available for use in teams, but doesn't show on the home page (useful if you want have friendlies against a team in another league)
<li>Inactive - only appears on club admin list.
</ul>
Note: clubs with existing teams can't be removed.
<p>
Note: if its a new club that doesn't appear in the list, see the grading system page for more details on what to do.
<h2>Add league text</h2>
From the home page for the organisation, select <b>Admin</b> to the right of Reports, then select <b>Display</b>
Enter any introductory text about your league. This may include some html.
Some html tags are not allowed for security reasons. The list of allowable tags is 
&lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;blockquote&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;img&gt; &lt;div&gt; &lt;table&gt; &lt;tr&gt; &lt;td&gt; &lt;th&gt; &lt;h2&gt; &lt;h3&gt; &lt;h4&gt; &lt;h5&gt; &lt;h6&gt;
<h2>Set options</h2>
Select <b>Admin</b> from the top menu, then <b>Update Settings</b> on the right hand side.  Set behaviour for unfinished games.
<h2>Setting up events</h2>
Once you have added clubs, you will probably want to set up some leagues
or knockout comptetitions:
<ul>
<li><a href="league?popup=1">Setting up Leagues</a>
<li><a href="knockout?popup=1">Setting up knockouts</a>
</ul>
<h2>Requesting other logins</h2>
If you want to request other logins so your team captains can enter results you need to provide names and email addresses via the contact form.
