Player lists can be associated with a club (for team events) or with an event
( for individual events). When viewing a player list, if you have 
access to update it, then 2 additional options are shown:
<ul>
<li>Add Existing Player - for adding a player who is already in the national rating list.
<li>Add New Player - for adding a player who is not in the grading list.
</ul>
It is usually best to try the <b>Add Existing Player</b> option first 
as it is quicker because you just select the player from a list. If a player cannot be added this way because they do not appear in the list from the rating system, then use <b>Add New Player</b>. If subsequently they are assigned a grading code or membership number then these need to be added manually.
<p>
Users with access to update lists may also have a <b>Delete</b> column. Clicking
on the <b>X</b> deletes the player from the list, but not from the system.
<h2>Where do the ratings in the player lists come from?</h2>
There is a copy of the national rating list within the system database which can be refreshed by administrators. The name, DOB, and sex are held locally separately per organisation so that they can be modified in case the national list is wrong, or in the case of new
players. The estimated grade field is there in case you want to assign
an estimated grade to someone not graded in the national list.
<h2>What does the add club's players option do?</h2>
This option existing under <b>Admin/Player Lists</b>, pick a player list.
It adds anyone to the player list in the specified club who is not 
already there and who has a rating. 
<h2>Why does club player list not have all players for a club?</h2>
When a club is added for the first time, only those players matching the 
above rules (load all players option) are loaded. Others can be loaded by
picking the load existing player tab - to load a player from the grading list,
or the load new player list to add a player never before graded.
<h2>Player Details</h2>
Picking on a player from a player list, or match card leads to a player
details page. The organisation owner can modify these details.
When the system creates grading files it uses the players name, DOB and sex
from the player page rather than the grading list to they can be changed.
<p>
The club field is only used for individual events when sending information to rating systems. Otherwise the club that the players team belongs to it 
used.
<p>
If a player is ungraded an estimated local grade can be 
specified here in which case it will override any national or FIDE grade and be shown 
on the match card with a category of L for Local grade.
They is an option under <b>Local Grades</b> from the <b>Admin</b>
option to reset any local grades to zero for players who now have an actual
grade.
<h2>Player Photographs</h2>
Player photographs can appear on the player page and matchcard.
In order for a player photograph to appear:
<ol>
<li>The player has to have a userid created for them.
<li>Then either they or the administrator needs to upload the photograph. This can be done by the user themselves via <b>My Account</b> or the LMS admin
via <b>Users</b> option.
<li>Then the player needs to be linked to this userid. This can be done by
the organisation owner by selecting the player from the player list
and then using the <b>Change User ID</b> button from within the <b>Edit</b>
tab. This will search for a userid with the players name. If it doesn't
find one try changing the players name. It searches the users for 
someone with a name that ends in the players surname.
</ol>
<h2>Adding New Lists</h2>
An organisation owner can add new lists for example for an individual event.
Player lists for clubs are created automatically when the club is created.
To create a new list go to <b>Admin/ Player Lists</b> and <b>Add Player List</b>
<h2>Adding all players for a club to a list</h2>
Under Admin/Player Lists, Select a list, an organisation owner can add all
the players for a club in the national rating list to the selected list (if they are not already there).
