Chess specific reports.
<h2>Ungraded</h2>
This report lists players who have played games in active seasons
and have no current national grade or it can't find them in the grading list
based on the grading code of the player.
<h2>New Player Matches</h2>
If a match report is entered where the player did not appear in the drop down
list, then <b>New Player</b> can be selected.
This report lists all matches where this has happened. 
<h2>Press Report</h2>
The idea of this report is that someone doing a report for a local paper or
a news letter could report on everything that happend within a selected 
time period. It lists the match scores and any match comments that were input.
<h2>Local Graded</h2>
Lists players who have local grades.
<h2>No Grade</h2>
Lists players who have no published grade or a CAT F grade.
<h2>Similar</h2>
The idea of this is to show players added as new who might be already in the
national rating list.
<h2>Different</h2>
The idea of this is to show players already in the
national rating list, but whoose details are different.
<h2>Violations</h2>
This report lists any matches that have some problem that the organisation
owner should be aware of. Possible problems are:
<ul>
<li>Adjudication
<li>Adjournment
<li>Grading Limit Exceeded - Home Team
<li>Grading Limit Exceeded - Away Team
<li>Unnamed Player above named
<li>Unnamed Win by default
</ul>
The status column indicates if the issue has been supressed (ie been dealt
with) and will not be reported in the status box on the home page. Picking on
the fixture takes you to the match card where using the violations tab the
warning can be surpressed.
