Is is possible to view player performance statistics by team, club, event or player. They are ordered by percentage.
<h2>Event Player Stats</h2>
Pick on an event from the fixtures list on the left hand side and then 
<b>player stats</b>
<h2>Team Player Stats</h2>
Pick on a team from a match card or league table, then 
<b>player stats</b>
<h2>Club Player Stats</h2>
Pick on a club from the home page and then
<b>player stats</b>
<h2>Player Stats</h2>
Pick on a player from a matchcard or player list and then
<b>player stats</b>
<h2>Rating Performance Calculation</h2>
This is calculated as:
<code>
performance = (sum(opponents ratings) + 400(wins-losses)) / games
</code>
where wins = number of wind, losses = number of losses, games = number of games.
It is based on the ratings in the match card ie those that the player had
at the time, including any local rating. If a player had no rating on the 
match card then 1800 is used.
