A violation is an issue with a reported match.
The Violations tab lists thses issue or problems which could be one of the following:
<ul>
<li>Adjudication
<li>Adjournment
<li>Grading Limit Exceeded - Home Team
<li>Grading Limit Exceeded - Away Team
<li>Unnamed Player above named
<li>Unnamed Win by default
</ul>
These are listed on a report on the home page.
The organisation owner can tick a box to supress them
from this report when they have been dealt with.
